.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab {
  text-transform: capitalize;
  padding: 1em;
  cursor: pointer;
  border-bottom: 5px solid;
}

.tab:hover {
  background-color: rgb(233, 233, 233);
}

@media screen and (max-width: 450px) {
  .tabs {
    flex-direction: column;
    width: 80vw;
    align-content: center;
  }

  .tab {
    width: 100%;
  }
}