.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab {
  text-transform: capitalize;
  padding: 1em;
  cursor: pointer;
  border-bottom: 5px solid;
}

.tab:hover {
  background-color: rgb(233, 233, 233);
}