<div class="stations">
  <ngx-loading [show]="loading"></ngx-loading>
  <input
    #input
    type="text"
    placeholder="Filter stations"
    (input)="filterStations(input.value)"
  />
  <ul class="stations__list" [style.border-color]="color">
    <li
      class="station"
      *ngFor="let station of filteredStations"
      (click)="toggleStation(station)"
    >
      <h1 class="station__name">
        {{ station.name }}
      </h1>
      <app-station-info
        *ngIf="station.selected"
        [station]="station"
      ></app-station-info>
    </li>
  </ul>
</div>
  <ngx-loading [show]="loading"></ngx-loading>
